footer {
    margin: 0px;
    padding: 2px 5px;
    height: 180px;
    border-top: 2mm ridge white;
    border-bottom: 2mm ridge white;
}

.f {
    margin: 5px 0px;
    background-color: royalblue;
    border: 4px solid royalblue;
    width: fit-content;
}

.ins {
    margin: 5px;
    background-color: rgb(233, 89, 80);
    border: 4px solid rgb(233, 89, 80);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    align-content: center;
    height: fit-content;
    width: fit-content;
}

.flx {
    margin: 0px 5px;
    display: flex;
    list-style: none;
}

.flink{
    color: #fff;
}