.back {
    margin: 25px auto;
    background-image: url(https://images3.alphacoders.com/113/1130781.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border: 1px solid black;
    height: 300px;
    width: 500px;
}

.art{
    margin: 25px 15px;
    text-align: center;
}

.arthead{
    text-decoration: underline;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

section a{
    margin: 5px;
    float: right;
    transform: translateY(-25px);
    color: rgb(0, 0, 59);
}